<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure Catalog</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container" id="search_div">
        <div class="row">
            <div class="col-lg-10">
                <input type="text" class="form-control" id="search" name="search" placeholder="Search..." aria-describedby="emailHelp">
            </div>
            <div class="col-lg-2">
                <button onclick="search()" class="btn btn-primary" type="Submit">Search</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="fileType" class="form-label">File Type</label>
                <select name="fileType" id="fileType" class="form-select">
                    <option selected value="All">All</option>
                    <option value="0">Folder</option>
                    <option value="1">File</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="extension" class="form-label">Extension</label>
                <select name="extension" id="extension" class="form-select">
                    <option selected value="All">All</option>
                    <option value="log">log</option>
                    <option value="txt">txt</option>
                    <option value="gz">gz</option>
                    <option value="sh">sh</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="workingenvironmentid" class="form-label">Working Env</label>
                <select name="workingenvironmentid" id="workingenvironmentid" class="form-select">
                    <option selected value="All">All</option>
                    <option value="VsaWorkingEnvironment-4bls4qyi">VsaWorkingEnvironment-4bls4qyi</option>
                    <option value="VsaWorkingEnvironment-ErM3KrAi">VsaWorkingEnvironment-ErM3KrAi</option>
                    <option value="e6f89334-c7a0-11ec-a3cb-a3b5d5547423">e6f89334-c7a0-11ec-a3cb-a3b5d5547423</option>
                    <option value="VsaWorkingEnvironment-V4iHosdz">VsaWorkingEnvironment-V4iHosdz</option>
                </select>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="loader"></div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="/static/script.js"></script>
</body>
</html>